AIRFLOW_UID=50000
MARKETAUX_API_TOKEN =your_marketaux_api_key
FINNHUB_API_KEY = your_finnhub_api_key
EVENT_HUB_NAME = your_event_hub_name
EVENT_HUB_CONNECTION_STR_PRODUCER = your_producer_connection_string
EVENT_HUB_CONNECTION_STR_CONSUMER = your_consumer_connection_string
CHECKPOINT_CONTAINER = your_checkpoint_container_name
BLOB_STORAGE_CONNECTION_STRING = your_storage_account_conneciton_string
ADLS_ACCOUNT_NAME = your_storage_account_name
ADLS_ACCOUNT_KEY = your_storage_account_key
